.full-h {
  height: 100%; }

.full-w {
  width: 100%; }

.padding-0 {
  padding: 0; }

.overflow-auto {
  overflow: auto; }

.green-color {
  color: #218838; }

.black-color {
  color: black; }

.red-big-title {
  font-weight: bold;
  color: #ea4c4c; }

.bold-text {
  font-weight: bold; }

.normal-text {
  font-size: 1.1em;
  color: black;
  font-weight: 400;
  line-height: 1.8em; }

.normal-text-2 {
  font-size: 1.6em;
  color: black;
  font-weight: 600;
  line-height: 1.8em; }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px; }

.btn-circle.btn-lg {
  width: 50px !important;
  height: 50px !important;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px; }

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px; }

#info-container {
  margin: 0px 25px 30px 25px; }
  #info-container .best-seller-tag {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: bold; }
  #info-container .feedback__username {
    font-weight: 300 !important;
    color: #e12419;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-bottom: 5px; }
  #info-container .title {
    font-size: 1.8em;
    font-weight: 600;
    margin-left: 1em;
    margin-bottom: 2em;
    color: #1a2844; }
  #info-container .course-title {
    font-size: 1.3em;
    font-weight: 500; }
    #info-container .course-title__icon {
      font-size: 1.4em;
      width: 23px;
      height: 23px; }
  #info-container .bouding-box {
    box-shadow: 0 4px 9px 0 rgba(67, 65, 79, 0.1);
    border: solid 2px #f5f5f5; }
  #info-container #general-info .icon-size {
    font-size: 90px; }
  #info-container #general-info .col {
    padding: 0px 35px 35px 0px; }
  #info-container #course-info .icon-size {
    font-size: 90px;
    color: #e12419; }
  #info-container #course-info .col {
    padding: 35px; }
  #info-container #course-info .test-heading-icon {
    font-size: 40px;
    color: #1a2844; }
  #info-container #course-info button {
    width: 118px; }
  #info-container #course-info .header-title-table {
    font-size: 1.5em; }
  #info-container #course-info .title-course-table {
    font-size: 1.2em; }
  #info-container #student-feedback .process-wrapper {
    height: 25px;
    background-color: #e3e3e4;
    border: 1px solid #e3e3e4;
    border-radius: 10px;
    padding: 0; }
    #info-container #student-feedback .process-wrapper .process {
      height: 25px;
      background-color: #625f5f; }
  #info-container #student-feedback .rating-score {
    font-weight: 400;
    font-size: 7.5em; }
  #info-container #student-feedback .rating-star-wrapper {
    font-size: 2em; }
  #info-container #student-feedback .small-rating-star-wrapper {
    font-size: 2em;
    height: 25px; }
  #info-container #pricing {
    color: red;
    margin-top: 30px; }
    #info-container #pricing .pricing-table-header {
      height: 109px;
      background-image: url("../img/assets/pricing-table.png");
      background-repeat: no-repeat; }
    #info-container #pricing .pricing-table-wrapper {
      width: 70%;
      margin: auto;
      background-color: #f6f6f6;
      border-radius: 10px;
      margin-bottom: 15px; }
      #info-container #pricing .pricing-table-wrapper .label {
        position: absolute;
        top: -42px;
        width: 100%;
        height: 100%; }
      #info-container #pricing .pricing-table-wrapper .check-icon {
        color: green;
        font-size: 35px; }
      #info-container #pricing .pricing-table-wrapper .uncheck-icon {
        color: #b3b3b3;
        font-size: 35px; }
      #info-container #pricing .pricing-table-wrapper .header {
        font-size: 1.25em;
        color: #fff;
        font-weight: 500;
        line-height: 1.8em; }
      #info-container #pricing .pricing-table-wrapper .row-text {
        font-size: 1.5em;
        color: black;
        font-weight: 500;
        line-height: 1.8em; }
      #info-container #pricing .pricing-table-wrapper .centered {
        position: absolute;
        top: 6px;
        left: 51%;
        transform: translate(-50%, -50%);
        color: #fff; }
        #info-container #pricing .pricing-table-wrapper .centered.price {
          top: 33px; }
      #info-container #pricing .pricing-table-wrapper .label1-wrapper {
        height: 100px;
        background: #f6f6f6;
        border-radius: 10px; }
        #info-container #pricing .pricing-table-wrapper .label1-wrapper .label1 {
          background: url("../img/assets/label1.png") no-repeat center center;
          height: 100%; }
      #info-container #pricing .pricing-table-wrapper .label2-wrapper {
        height: 100px;
        background: #f6f6f6;
        border-radius: 10px; }
        #info-container #pricing .pricing-table-wrapper .label2-wrapper .label2 {
          background: url("../img/assets/label2.png") no-repeat center center;
          height: 100%; }
      #info-container #pricing .pricing-table-wrapper .label3-wrapper {
        height: 100px;
        background: #f6f6f6;
        border-radius: 10px; }
        #info-container #pricing .pricing-table-wrapper .label3-wrapper .label3 {
          background: url("../img/assets/label3.png") no-repeat center center;
          height: 100%; }
      #info-container #pricing .pricing-table-wrapper .label4-wrapper {
        height: 100px;
        background: #f6f6f6;
        border-radius: 10px; }
        #info-container #pricing .pricing-table-wrapper .label4-wrapper .label4 {
          background: url("../img/assets/label4.png") no-repeat center center;
          height: 100%; }
      #info-container #pricing .pricing-table-wrapper .label5-wrapper {
        height: 100px;
        background: #f6f6f6;
        border-radius: 10px; }
        #info-container #pricing .pricing-table-wrapper .label5-wrapper .label5 {
          background: url("../img/assets/label5.png") no-repeat center center;
          height: 100%; }
      #info-container #pricing .pricing-table-wrapper .column {
        padding-left: 2px;
        padding-right: 2px; }
      #info-container #pricing .pricing-table-wrapper .starer-btn {
        background-color: #0b8998;
        border-color: #0b8998;
        color: #fff;
        font-size: 1.3em; }
      #info-container #pricing .pricing-table-wrapper .basic-btn {
        background-color: #8cb453;
        border-color: #8cb453;
        color: #fff;
        font-size: 1.3em; }
      #info-container #pricing .pricing-table-wrapper .standart-btn {
        background-color: #fa9418;
        border-color: #fa9418;
        color: #fff;
        font-size: 1.3em; }
      #info-container #pricing .pricing-table-wrapper .premium-btn {
        background-color: #e8483a;
        border-color: #e8483a;
        color: #fff;
        font-size: 1.3em; }
  #info-container .border-row {
    border-bottom: 1px solid #d2d2d2; }
  #info-container .border-right {
    border-right: 1px solid #d2d2d2; }
  #info-container .big-sale-title {
    font-weight: bold;
    color: #ea4c4c;
    font-size: 5em; }
  #info-container .title-rate-tab {
    height: 40px; }
  #info-container #nav-tabContent::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5; }
  #info-container #nav-tabContent::-webkit-scrollbar-thumb {
    background-color: #000000; }
  #info-container #nav-tabContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5; }
  #info-container .nav-tab {
    height: 41px; }
  #info-container .title-font-weight {
    font-weight: 600; }
  #info-container .checked {
    color: orange; }
  #info-container .btn-link {
    cursor: pointer; }
  #info-container .nav-link.active {
    color: #e12419; }
  #info-container a {
    color: #495057; }
  #info-container .nav-item {
    font-weight: bold; }
  #info-container .green-color {
    color: green; }
  #info-container .blue-color {
    color: #007bff !important; }
  #info-container .card {
    border: none; }
  #info-container .carousel-control-prev {
    width: 2%; }
  #info-container .carousel-control-next {
    width: 2%; }
  #info-container #timer a {
    text-decoration: none;
    color: #1a1a1a; }
  #info-container #timer h1 {
    margin-bottom: 60px;
    text-align: center;
    font: 300 2.25em "Lato";
    text-transform: uppercase; }
  #info-container #timer h1 strong {
    font-weight: 400;
    color: #ea4c4c; }
  #info-container #timer h2 {
    margin-bottom: 80px;
    text-align: center;
    font: 300 0.7em "Lato";
    text-transform: uppercase; }
  #info-container #timer h2 strong {
    font-weight: 400; }
  #info-container #timer .countdown {
    margin: 0 auto; }
  #info-container #timer .countdown .bloc-time {
    float: left;
    margin-right: 45px;
    text-align: center; }
  #info-container #timer .countdown .bloc-time:last-child {
    margin-right: 0; }
  #info-container #timer .countdown .count-title {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
    font: normal 1.94em "Lato";
    color: #1a1a1a;
    text-transform: uppercase; }
  #info-container #timer .countdown .figure {
    position: relative;
    float: left;
    height: 108px;
    width: 100px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 8px;
    -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08); }
  #info-container #timer .countdown .figure:last-child {
    margin-right: 0; }
  #info-container #timer .countdown .figure > span {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    font: normal 4.94em/107px "Lato";
    font-weight: 700;
    color: #de4848; }
  #info-container #timer .countdown .figure .top:after,
  #info-container #timer .countdown .figure .bottom-back:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  #info-container #timer .countdown .figure .top {
    z-index: 3;
    background-color: #f7f7f7;
    transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-transform: perspective(200px);
    -ms-transform: perspective(200px);
    -webkit-transform: perspective(200px);
    transform: perspective(200px); }
  #info-container #timer .countdown .figure .bottom {
    z-index: 1; }
  #info-container #timer .countdown .figure .bottom:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.02); }
  #info-container #timer .countdown .figure .bottom-back {
    z-index: 2;
    top: 0;
    height: 50%;
    overflow: hidden;
    background-color: #f7f7f7;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px; }
  #info-container #timer .countdown .figure .bottom-back span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto; }
  #info-container #timer .countdown .figure .top,
  #info-container #timer .countdown .figure .top-back {
    height: 50%;
    overflow: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  #info-container #timer .countdown .figure .top-back {
    z-index: 4;
    bottom: 0;
    background-color: #fff;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -moz-transform: perspective(200px) rotateX(180deg);
    -ms-transform: perspective(200px) rotateX(180deg);
    -webkit-transform: perspective(200px) rotateX(180deg);
    transform: perspective(200px) rotateX(180deg);
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px; }
  #info-container #timer .countdown .figure .top-back span {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: auto; }
  #info-container #compare-pricing-table .pricing-table-product-box {
    -webkit-box-shadow: 0 4px 9px 0 rgba(67, 65, 79, 0.1);
    box-shadow: 0 4px 9px 0 rgba(67, 65, 79, 0.1);
    border: solid 2px #f5f5f5;
    height: 100%; }
  #info-container #compare-pricing-table .primary {
    background-color: #6747c7;
    color: #fff; }
  #info-container #compare-pricing-table .primary.l200 {
    background-color: #b5a4e3; }
  #info-container #compare-pricing-table .secondary {
    background-color: #fc5155;
    color: #000; }
  #info-container #compare-pricing-table .secondary.l200 {
    background-color: #f79b9e; }
  #info-container #compare-pricing-table .border-radius-round {
    border-radius: 100px !important; }
  #info-container #compare-pricing-table .price-block {
    font-size: 20px; }
  #info-container #compare-pricing-table .price-block-wrapper {
    font-size: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  #info-container #compare-pricing-table .pricing-table-new .price-block-wrapper {
    font-size: 0.7em; }
  #info-container #compare-pricing-table .price-block__currency {
    font-size: 1em;
    font-weight: 700;
    margin-top: 0.2em; }
  #info-container #compare-pricing-table .price-block__bigno {
    font-size: 3em;
    font-weight: 700;
    line-height: 0.8em; }
  #info-container #compare-pricing-table .button {
    font-size: 1.6rem;
    letter-spacing: 0;
    line-height: 2.4rem; }
  #info-container #compare-pricing-table .h-button {
    max-height: 56px;
    background-color: #6747c7;
    border-radius: 3px;
    padding: 15px 20px;
    color: #fff;
    word-break: break-word;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    border: 1px solid #6747c7;
    -webkit-appearance: unset;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  @media (min-width: 1200px) {
    #info-container #compare-pricing-table .pr-40-xl {
      padding-right: 40px !important; } }
  @media (min-width: 1200px) {
    #info-container #compare-pricing-table .pl-40-xl {
      padding-left: 40px !important; } }
  @media (min-width: 768px) {
    #info-container #compare-pricing-table .pr-25-md {
      padding-right: 25px !important; } }
  @media (min-width: 768px) {
    #info-container #compare-pricing-table .pl-25-md {
      padding-left: 25px !important; } }
  #info-container #compare-pricing-table .pb-50 {
    padding-bottom: 50px !important; }
  #info-container #compare-pricing-table .pt-50 {
    padding-top: 50px !important; }
  #info-container #compare-pricing-table .pr-40 {
    padding-right: 40px !important; }
  #info-container #compare-pricing-table .pl-40 {
    padding-left: 40px !important; }

.info-footer-wrapper {
  width: 100%;
  height: 100px; }

.cursor-pointer {
  cursor: pointer; }

#stick-vertical-nav {
  margin-bottom: 22px;
  font-weight: bold; }
  #stick-vertical-nav #mainNav {
    margin-left: 15px; }
  #stick-vertical-nav nav {
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    width: 100%; }
  #stick-vertical-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative; }
    #stick-vertical-nav ul li {
      display: table-cell; }
      #stick-vertical-nav ul li a {
        padding: 10px 20px;
        display: block;
        color: black;
        text-decoration: none;
        transition: all 0.3s ease-in-out; }
        #stick-vertical-nav ul li a:hover {
          color: #f38a8a; }
    #stick-vertical-nav ul .active a {
      color: #f38a8a;
      border-bottom: 3px solid #f38a8a; }

#toTop {
  padding: 5px 3px;
  position: fixed;
  bottom: 10px;
  right: 5px;
  font-size: 30px; }
