.full-h {
  height: 100%;
}

.full-w {
  width: 100%;
}

.padding-0 {
  padding: 0;
}

.overflow-auto {
  overflow: auto;
}

.green-color {
  color: #218838;
}

.black-color {
  color: black;
}
.red-big-title {
  font-weight: bold;
  color: #ea4c4c;
}

.bold-text {
  font-weight: bold;
}

.normal-text {
  font-size: 1.1em;
  color: black;
  font-weight: 400;
  line-height: 1.8em;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px !important;
  height: 50px !important;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
