.full-h {
  height: 100%;
}

.full-w {
  width: 100%;
}

.padding-0 {
  padding: 0;
}

.overflow-auto {
  overflow: auto;
}

.green-color {
  color: #218838;
}

.black-color {
  color: black;
}
.red-big-title {
  font-weight: bold;
  color: #ea4c4c;
}

.bold-text {
  font-weight: bold;
}

.normal-text {
  font-size: 1.1em;
  color: black;
  font-weight: 400;
  line-height: 1.8em;
}
