.info-body {
  height: 100vh;
  overflow: hidden;
  &__header {
    height: 72px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.17);
  }
}
.full-h {
  height: 100%;
}

.full-w {
  width: 100%;
}
.padding-0 {
  padding: 0;
}

.overflow-auto {
  overflow: auto;
}
#info-container {
  .carousel-inner {
    // height: calc(100% - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .feedback {
    &__username {
      font-weight: 300 !important;
      color: #e12419;
      -webkit-transition: all 0.3s ease 0s;
      -moz-transition: all 0.3s ease 0s;
      -o-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
      margin-bottom: 5px;
    }
  }
  .course-title {
    background-color: inherit;
    border-bottom: inherit;
  }
  #nav-tabContent::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }
  #nav-tabContent::-webkit-scrollbar-thumb {
    background-color: #000000;
  }
  #nav-tabContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  .title {
    height: 100px;
  }
  .nav-tab {
    height: 41px;
  }
  .scrollable-content {
    height: calc(100% - 100px - 41px);
    overflow-x: hidden;
  }
  .title-font-weight {
    font-weight: 600;
  }

  .checked {
    color: orange;
  }
  .btn-link {
    cursor: pointer;
  }
  .nav-link {
    &.active {
      color: #e12419;
    }
  }
  a {
    color: #495057;
  }
  .nav-item {
    font-weight: bold;
  }
  .green-color {
    color: green;
  }
  .blue-color {
    color: #007bff !important;
  }

  .bold-text {
    font-weight: bold;
  }

  .normal-text {
    font-size: 1.1em;
    color: black;
    font-weight: 400;
    line-height: 1.8em;
  }
  .card {
    border: none;
  }
  .carousel-control-prev {
    width: 2%;
  }
  .carousel-control-next {
    width: 2%;
  }
  .black-color {
    color: black;
  }
  .red-big-title {
    font-weight: bold;
    color: #ea4c4c;
  }

  #timer {
    a {
      text-decoration: none;
      color: #1a1a1a;
    }

    h1 {
      margin-bottom: 60px;
      text-align: center;
      font: 300 2.25em "Lato";
      text-transform: uppercase;
    }
    h1 strong {
      font-weight: 400;
      color: #ea4c4c;
    }

    h2 {
      margin-bottom: 80px;
      text-align: center;
      font: 300 0.7em "Lato";
      text-transform: uppercase;
    }
    h2 strong {
      font-weight: 400;
    }

    .countdown {
      margin: 0 auto;
    }
    .countdown .bloc-time {
      float: left;
      margin-right: 45px;
      text-align: center;
    }
    .countdown .bloc-time:last-child {
      margin-right: 0;
    }
    .countdown .count-title {
      display: block;
      margin-bottom: 15px;
      font-weight: bold;
      font: normal 1.94em "Lato";
      color: #1a1a1a;
      text-transform: uppercase;
    }
    .countdown .figure {
      position: relative;
      float: left;
      height: 108px;
      width: 100px;
      margin-right: 10px;
      background-color: #fff;
      border-radius: 8px;
      -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2),
        inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
      -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2),
        inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
      box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2),
        inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
    }
    .countdown .figure:last-child {
      margin-right: 0;
    }
    .countdown .figure > span {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      font: normal 4.94em/107px "Lato";
      font-weight: 700;
      color: #de4848;
    }
    .countdown .figure .top:after,
    .countdown .figure .bottom-back:after {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .countdown .figure .top {
      z-index: 3;
      background-color: #f7f7f7;
      transform-origin: 50% 100%;
      -webkit-transform-origin: 50% 100%;
      -moz-border-radius-topleft: 10px;
      -webkit-border-top-left-radius: 10px;
      border-top-left-radius: 10px;
      -moz-border-radius-topright: 10px;
      -webkit-border-top-right-radius: 10px;
      border-top-right-radius: 10px;
      -moz-transform: perspective(200px);
      -ms-transform: perspective(200px);
      -webkit-transform: perspective(200px);
      transform: perspective(200px);
    }
    .countdown .figure .bottom {
      z-index: 1;
    }
    .countdown .figure .bottom:before {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 50%;
      background-color: rgba(0, 0, 0, 0.02);
    }
    .countdown .figure .bottom-back {
      z-index: 2;
      top: 0;
      height: 50%;
      overflow: hidden;
      background-color: #f7f7f7;
      -moz-border-radius-topleft: 10px;
      -webkit-border-top-left-radius: 10px;
      border-top-left-radius: 10px;
      -moz-border-radius-topright: 10px;
      -webkit-border-top-right-radius: 10px;
      border-top-right-radius: 10px;
    }
    .countdown .figure .bottom-back span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
    .countdown .figure .top,
    .countdown .figure .top-back {
      height: 50%;
      overflow: hidden;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .countdown .figure .top-back {
      z-index: 4;
      bottom: 0;
      background-color: #fff;
      -webkit-transform-origin: 50% 0;
      transform-origin: 50% 0;
      -moz-transform: perspective(200px) rotateX(180deg);
      -ms-transform: perspective(200px) rotateX(180deg);
      -webkit-transform: perspective(200px) rotateX(180deg);
      transform: perspective(200px) rotateX(180deg);
      -moz-border-radius-bottomleft: 10px;
      -webkit-border-bottom-left-radius: 10px;
      border-bottom-left-radius: 10px;
      -moz-border-radius-bottomright: 10px;
      -webkit-border-bottom-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .countdown .figure .top-back span {
      position: absolute;
      top: -100%;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  #compare-pricing-table {
    .pricing-table-product-box {
      -webkit-box-shadow: 0 4px 9px 0 rgba(67, 65, 79, 0.1);
      box-shadow: 0 4px 9px 0 rgba(67, 65, 79, 0.1);
      border: solid 2px #f5f5f5;
      height: 100%;
    }

    .primary {
      background-color: #6747c7;
      color: #fff;
    }

    .primary.l200 {
      background-color: #b5a4e3;
    }

    .secondary {
      background-color: #fc5155;
      color: #000;
    }

    .secondary.l200 {
      background-color: #f79b9e;
    }

    .border-radius-round {
      border-radius: 100px !important;
    }

    .price-block {
      font-size: 20px;
    }
    .price-block-wrapper {
      font-size: 1em;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    .pricing-table-new {
      .price-block-wrapper {
        font-size: 0.7em;
      }
    }

    .price-block__currency {
      font-size: 1em;
      font-weight: 700;
      margin-top: 0.2em;
    }

    .price-block__bigno {
      font-size: 3em;
      font-weight: 700;
      line-height: 0.8em;
    }

    .button {
      font-size: 1.6rem;
      letter-spacing: 0;
      line-height: 2.4rem;
    }

    .h-button {
      max-height: 56px;
      background-color: #6747c7;
      border-radius: 3px;
      padding: 15px 20px;
      color: #fff;
      word-break: break-word;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      border: 1px solid #6747c7;
      -webkit-appearance: unset;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }

    @media (min-width: 1200px) {
      .pr-40-xl {
        padding-right: 40px !important;
      }
    }

    @media (min-width: 1200px) {
      .pl-40-xl {
        padding-left: 40px !important;
      }
    }
    @media (min-width: 768px) {
      .pr-25-md {
        padding-right: 25px !important;
      }
    }
    @media (min-width: 768px) {
      .pl-25-md {
        padding-left: 25px !important;
      }
    }
    .pb-50 {
      padding-bottom: 50px !important;
    }
    .pt-50 {
      padding-top: 50px !important;
    }
    .pr-40 {
      padding-right: 40px !important;
    }
    .pl-40 {
      padding-left: 40px !important;
    }
  }
}

.info-footer-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-top: 0;
  height: 100px;
}

.cursor-pointer {
  cursor: pointer;
}
